@model IEnumerable<ERP_System_Project.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<div class="suppliers-page">
    <div class="card">
        <h2>Suppliers</h2>
        @* <a asp-action="Create" class="floating-btn" title="Add New Supplier">
            <i class="fa-solid fa-plus"></i>
        </a> *@

     <a href="javascript:void(0)" 
   onclick="openModalWithAjax('@Url.Action("Create", "Supplier")', 'Add New Supplier')" 
   class="floating-btn" 
   title="Add New Supplier">
   <i class="fa-solid fa-plus"></i>
</a>


        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-label="Code">@item.SupplierCode</td>
                        <td data-label="Name">@item.SupplierName</td>
                        <td data-label="Category">@item.SupplierCategory?.CategoryName</td>
                        <td data-label="Actions">
                            <div class="action-buttons">
                                <a asp-action="Details" asp-route-id="@item.SupplierId" class="btn btn-view btn-sm"><i class="fa-solid fa-eye"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-update btn-sm"><i class="fa-solid fa-pen"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-delete btn-sm"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

  <link rel="stylesheet" href="~/css/Purchase/Supplier/Index.css">

@await Html.PartialAsync("_GeneralModal")




