@model ERP_System_Project.Models.Inventory.InventoryTransaction

@{
    ViewData["Title"] = "Transaction Details";
}

<div class="details-page">
    <h2 class="title">Transaction Details</h2>

    <div class="details-section">
        <h3 class="supplier-name">@Model.Product.Name</h3>
        <dl class="details-grid">
            <div class="detail-item">
                <dt>Warehouse</dt>
                <dd>@Model.WarehouseProduct.Warehouse.Name</dd>
            </div>

            <div class="detail-item">
                <dt>Quantity</dt>
                <dd>@Model.Quantity</dd>
            </div>

            <div class="detail-item">
                <dt>Type</dt>
                <dd>@Model.TransactionType</dd>
            </div>

            <div class="detail-item">
                <dt>Date</dt>
                <dd>@Model.TransactionDate.ToString("yyyy-MM-dd HH:mm")</dd>
            </div>

            <div class="detail-item">
                <dt>Notes</dt>
                <dd>@Model.Notes</dd>
            </div>
        </dl>
    </div>

    <div class="viewActions">

        <div class="right-button">
            <a asp-action="Index" class="btn btn-back">← Back</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="@(Url.Content("~/css/CRUD/Details.css"))" />
